# This is here to make sure people can stay logged in longer than
# the default value of 1440 seconds
# Note: 604800 seconds is one week (7 days)

php_value session.gc_maxlifetime 604800

# Do not display errors to screen. Rather, log them to a file
php_value error_reporting -1            # everything under the sun
php_flag display_errors off             # do not print to screen
php_flag log_errors on                  # log to a file
# Make sure the log file exists on the server and is chmod 622
# (When you first push a file to the server it defaults to chmod 644, which won't work)
php_value error_log log/php_errors.log


# This line enables Apache to redirect short codes for events to the right page
ErrorDocument 404 /regi/slim.php


# Specify myEvents.php as the directory index
DirectoryIndex myEvents.php


# This rewrite rule makes people use the /regi/ shortcut
RewriteEngine On

# RewriteBase /home/hbboston/public_html/regi
#RewriteBase /home/jd/php/regi
#RewriteRule /s /support.php
#RewriteRule /z /myEvents.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^support$ support.php [L]
RewriteRule ^forgotPassword$ forgotPassword.php [L]
RewriteRule ^enterNewPassword$ enterNewPassword.php [L]
RewriteRule ^hbTrips$ hbTrips.php [L]
RewriteRule ^myProfile$ myProfile.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^eventAdmin$ eventAdmin.php [L]
RewriteRule ^newEvent$ eventAdmin.php [L]
RewriteRule ^([0-9]+)$ eventRegistration.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~admin$ eventAdmin.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~roster$ eventRoster.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~confirm$ confirmationPage.php?event_id=$1 [L]
