# .htaccess file
# Note that you should only use '#' at the beginning of a line
# apache2 gets confused if you put in a command and then comments on the same line
# The server will SCREAM if you do that. So I don't recommend it.


# This is here to make sure people can stay logged in longer than
# the default value of 1440 seconds
# Note: 604800 seconds is one week (7 days)

php_value session.gc_maxlifetime 604800

##############  ERROR  REPORTING  ################################
# Do not display errors to screen. Rather, log them to a file
# 15 is what you get when you run =>   error_reporting(E_ERROR | E_WARNING | E_PARSE | E_NOTICE);
php_value error_reporting 15
php_flag display_errors off
php_flag log_errors on
# Make sure the log file exists on the server and is chmod 622
# (When you first push a file to the server it defaults to chmod 644, which won't work)
php_value error_log log/php_errors.log

##################  TIME  ZONE  #################################
# This prevents a STRICT warning from being thrown
php_value date.timezone "America/New_York"


# This line enables Apache to redirect short codes for events to the right page
ErrorDocument 404 /regi/slim.php


# Specify myEvents.php as the directory index
DirectoryIndex myEvents.php


# This rewrite rule makes people use the /regi/ shortcut
RewriteEngine On

# RewriteBase /home/hbboston/public_html/regi
#RewriteBase /home/jd/php/regi
#RewriteRule /s /support.php
#RewriteRule /z /myEvents.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^support$ support.php [L]
RewriteRule ^forgotPassword$ forgotPassword.php [L]
RewriteRule ^enterNewPassword$ enterNewPassword.php [L]
RewriteRule ^hbTrips$ hbTrips.php [L]
RewriteRule ^myProfile$ myProfile.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^eventAdmin$ eventAdmin.php [L]
RewriteRule ^newEvent$ eventAdmin.php [L]
RewriteRule ^admin$ admin.php [L]
RewriteRule ^([0-9]+)$ eventRegistration.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~admin$ eventAdmin.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~roster$ eventRoster.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~share$ eventShare.php?event_id=$1 [L]
RewriteRule ^([0-9]+)~confirm$ confirmationPage.php?event_id=$1 [L]
