# This is here to make sure people can stay logged in longer than
# the default value of 1440 seconds
# Note: 604800 seconds is one week (7 days)

php_value session.gc_maxlifetime 604800

# This line enables Apache to redirect short codes for events to the right page
ErrorDocument 404 /regi/slim.php

# This rewrite rule makes people use the /regi/ shortcut
RewriteEngine On

# RewriteBase /home/hbboston/public_html/regi
#RewriteBase /home/jd/php/regi
#RewriteRule /s /support.php
#RewriteRule /z /myEvents.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^support$ support.php [L]
