/*  This first stuff is from the templated style sheet, which is located at
 * <link href="http://www.hbbostonamc.org/templates/amctemplate/template_css/template_2css.css" type="text/css"
 */

body {

    color: #000000;

    font-size: 13px;

    font-family: arial, Verdana, Tahoma;

    background-color: #2d5c56;

    text-align: center;

    margin: 10px 0;

    padding: 0;

    width: 100%;

    border-style: none

}



#pagewrap {

    background-image: url("../images/amctemplate_02.jpg");

    background-repeat: repeat-y;

    text-align: left;

    margin-right: auto;

    margin-left: auto;

    width: 864px;

    overflow: hidden

}

#layer10  { background-image: url("../images/amctemplate_regi.jpg"); background-repeat: no-repeat; margin: 0; width: 864px; height: 80px; clear: both }

#searchbox {

    padding-top: 20px;

    padding-right: 20px;

    float: right

}

h1 {

    color: #2a7168;

    font-size: 16px;

    font-family: "Times New Roman", Times, serif;

    font-weight: bold

}

h2 {

    color: #2a7168;

    font-size: 14px;

    font-family: "Times New Roman", Times, serif;

    font-weight: bold

}

h3 {

    color: #2a7168;

    font-size: 13px;

    font-family: "Times New Roman", Times, serif;

    font-weight: bold

}

td, tr, p  { color: #000; font-size: 13px; font-family: arial, Verdana, Tahoma }

input.inputbox {

    color: #444;

    font-size: 11px;

    font-family: arial;

    background-color: #fff;

    margin: -1px 0 0;

    border: solid 1px #cccccc

}

input.inputbox#mod_search_searchword {

    color: #444;

    font-size: 11px;

    background: #fff;

    width: 160px;

    border: solid 1px #c0c1c3

}

textarea.inputbox {

    color: #444;

    font-size: 11px;

    font-family: arial;

    background-color: white;

    border: solid 1px #cccccc

}

a:link {

    color: #0066CC;

    text-decoration: none

}

a:visited {

    color: #0066CC

}

a:hover {

    color: #5e9edf;

    text-decoration: none

}



/*######################################################################
 Everything below this line was included in the old style sheet
*/


.listing {
border: 5px solid black;
border-style: dashed;
margin: 20px;
padding: 20px;
#width:1300px;
#height:100px;
background-color:yellow;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
box-shadow: 10px 10px 5px #888888;
}
table, th, tr, td {
    border-spacing: 0; /* This is important for multiple cells to appear as one */

}
td {
    padding: 1ex 2ex;
}

.en {width: 60%;}
.nowrap{white-space: nowrap;}
.hcolor{
    color: #25605A;
    font-weight: bold;}


/********   C O L O R     S C H E M E   *******************************/
/* All colors are based off a color in the heading image, #2d5c56     */
body,table,tr,td {color: #000000;
    font-family: Roman;}
.row0 {background-color: white;}
.row1 {background-color: #E9E9E9;} /*added green to base color to get here*/

a{text-decoration: none;}
a:link {
    color: #0349A8;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #6E943B;
}

a:hover {
    color: #0349A8;
    #text-decoration: bold;
    #font-size: 110%;
    #line-height: 80%;
    #padding: 0;
    text-decoration: underline;
}

table.center {margin-left:auto; margin-right:auto;}
#bright_msg {color: #00A480;}
#tabs{
    float: left;
    height:100%;
    padding-left: 5px;
}

#content{
    padding-left:   4ex;
    width:80%;
    float: left;
}
#selected_tab{
    background: #99d0c4;

}

.tab{
    border-radius:  0.5ex;
    -moz-border-radius:0.5ex; /* Firefox 3.6 and earlier */
    #border:2px solid;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
    padding-top: 0.1ex;
    padding-bottom: 0.1ex;
    font-size: 130%;

}


input,textarea{
    background-color: #c9c9c9;
}

input:focus,textarea:focus{
    background-color:   #99d0c4;
}

.indented{
    padding-left: 5ex;
}


