/*  This first stuff is from the templated style sheet, which is located at
 * <link href="http://www.hbbostonamc.org/templates/amctemplate/template_css/template_2css.css" type="text/css"
 */

body {

    color: #000000;

    font-size: 13px;

    font-family: Arial, Verdana, Tahoma, "sans-serif";

    background-color: #2d5c56;

    text-align: center;

    margin: 10px 0;

    padding: 0;

    width: 100%;

    border-style: none

}



#pagewrap {

    background-image: url("../images/amctemplate_02.jpg");

    background-repeat: repeat-y;

    text-align: left;

    margin-right: auto;

    margin-left: auto;

    width: 864px;

    overflow: hidden

}

#layer10  { background-image: url("../images/amctemplate_regi.jpg"); background-repeat: no-repeat; margin: 0; width: 864px; height: 80px; clear: both }

#searchbox {

    padding-top: 20px;

    padding-right: 20px;

    float: right

}

h1 {

    color: #2a7168;

    font-size: 16px;

    font-family: "Times New Roman", Times, serif;

    font-weight: bold

}

h2 {

    color: #2a7168;

    font-size: 14px;

    font-family: "Times New Roman", Times, serif;

    font-weight: bold

}

h3 {

    color: #2a7168;

    font-size: 13px;

    font-family: "Times New Roman", Times, serif;

    font-weight: bold

}

td, tr, p  { color: #000; font-size: 13px; font-family: Arial, Verdana, Tahoma, "sans-serif" }

input.inputbox {

    color: #444;

    font-size: 11px;

    font-family: Arial, Verdana, Tahoma, "sans-serif";

    background-color: #fff;

    margin: -1px 0 0;

    border: solid 1px #cccccc

}

input.inputbox#mod_search_searchword {

    color: #444;

    font-size: 11px;

    background: #fff;

    width: 160px;

    border: solid 1px #c0c1c3

}

textarea.inputbox {

    color: #444;

    font-size: 11px;

    font-family: Arial, Verdana, Tahoma, "sans-serif";

    background-color: white;

    border: solid 1px #cccccc

}

a:link {

    color: #0066CC;

    text-decoration: none

}

a:visited {

    color: #0066CC

}

a:hover {

    color: #5e9edf;

    text-decoration: none

}



/*######################################################################
 Everything above this line was included in the old style sheet
*/


.listing {
border: 5px solid black;
border-style: dashed;
margin: 20px;
padding: 20px;
#width:1300px;
#height:100px;
background-color:yellow;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
box-shadow: 10px 10px 5px #888888;
}
table, th, tr, td {
    border-spacing: 0; /* This is important for multiple cells to appear as one */

}

.mytrips, .mytrips_en, .mytrips_nowrap{
    padding: 1ex 2ex;
}
.mytrips_en {width: 60%;}
.mytrips_nowrap{white-space: nowrap;}
.hcolor{
    color: #25605A;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    padding: 1ex 2ex;
}


/********   C O L O R     S C H E M E   *******************************
Table banding: Light Grey, HEX#E9E9E9
Alert message (Welcome): Light Green, HEX#00A480
table headings: Dark Green, Bold, HEX#25605A
normal text: Black HEX#000000
links: Blue, Bold, HEX#0349A8
links (followed): Light (greenish) Blue, Bold, HEX# 6E943B
links (hover): Blue, Bold, HEX#0349A8(same color and text size as regular link -
* also, can you make the underline appear on hover?)
* Note: I'm changing all links to the light greenish blue 6e943b
*      */
body,table,tr,td,p,input.inputbox,textarea.inputbox {color: #000000;
    font-family: Arial, Verdana, Tahoma, "sans-serif";
    font-size: 10pt;
}
h1 {font-size: 120%;}
.row0 {background-color: white;}
.row1 {background-color: #E9E9E9;} /*added green to base color to get here*/

a{
    text-decoration: none;
    color: #6e943b;
}

a:link, a.menu:visited {
    color: #0349A8;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #0349A8;
    font-weight: bold;
    text-decoration: underline;
}

a.menu:link, a.menu:visited {
    color: #0349A8;
    font-weight: bold;
    text-decoration: none;
}

a.menu:hover {
    color: #0349A8;
    font-weight: bold;
    text-decoration: underline;
}

table.center {margin-left:auto; margin-right:auto;}
#bright_msg {color: #00A480;}
#tabs{
    float: left;
    height:100%;
    padding-left: 5px;
    margin-top: 2.5ex;
}

#content{
    padding-left:   4ex;
    width:80%;
    float: left;
}
#selected_tab,#selected_top_tab{
    background: #99d0c4;
    color: black;
}
#selected_tab:hover,#selected_top_tab:hover{
    background: #ccc;
}
.tab, .top_tab{
    border-radius:  1.2ex;
    -moz-border-radius:1.2ex; /* Firefox 3.6 and earlier */
    text-align: center;
    border: 1px solid;
    padding: 0.5ex;
    margin: 0.5ex 0;
    font-size: 130%;
    font-family: "Times New Roman", Times, serif;
    -moz-box-shadow: 0.2ex 0.3ex 0.6ex #888888; /* Firefox 3.6 and earlier */
    -webkit-box-shadow: 0.2ex 0.1ex 0.6ex #888888; /* Safari */
    box-shadow: 0.2ex 0.1ex 0.6ex #888888;
    color: #0349A8;
}

.top_tab{
    border-radius:  1.2ex 1.2ex 0 0;
    -moz-border-radius:1.2ex 1.2ex 0 0; /* Firefox 3.6 and earlier */
    font-size: 90%;
    float: left;
    border-color: #bbb;
    box-shadow: none;
    border-bottom: none;
    font-family: Arial, Verdana, Tahoma, "sans-serif";
    font-weight: bold;
}
.tab:hover, .top_tab:hover{
    background: #ccc;
}


input,textarea{
    background-color: #c9c9c9;
}

input:focus,textarea:focus{
    background-color:   #99d0c4;
}

.indented{
    padding-left: 5ex;
}

#myprofile_narrow{
    width: 55ex;
    text-align: justify;
}
#footer{
    background-color: #2d5c56;  /* same as page background*/
    width: 55%;
    margin: 2ex auto;
    color: #ccc;
}

h1,h2,h3,h4,h5,h6{
    margin-top:     1.5EM;
    margin-bottom: 0.2EM;
}

h1#page_title{
    font-size: 150%;
    #margin-bottom: -0.5EM;
}

.button{
    font-size: 150%;
    background: #ccc;
    padding: 1ex;
    margin: 2ex 0;
    border-radius:  1.2ex;
    -moz-border-radius:1.2ex; /* Firefox 3.6 and earlier */
    box-shadow: 0.4ex 0.2ex 1.0ex #777;
}
.button:hover{
    background: #99d0c4;
}

.table_header{
    background: #a3d6cb;

}

td, th{
    padding: 1ex 2ex;
}
